body{
	color: #fff;
	font-family: $brand-face;
}

header {
	background: url(../img/home/walls.png) no-repeat #ef4623 50% 50%;
    height:100vh;
    min-height:425px;
	border-left: #fff solid 4px;
	border-right: #fff solid 4px;
}

header h1 {
	position:relative;
	top: 80%;
}



.demo-block{
    color:#fff;
    text-align: center;
    padding-bottom:0.5em;

}


.speachBubble{
	background: url(../img/home/speachBubble.png) no-repeat #fff 50% 50%;
	height:460px;
}
.speachBubble p {
	font-size: 2.25em;
	line-height: 1em;
	padding:1em;
	position: relative;
	text-align: center;
	top:14%;
	font-family: 'Lobster', cursive;
}

.cornettoMic{
}


.intro {
	color: #df3284;
	font-size: $h1-size;
	padding: .5em;
}

.img--center {
	margin-bottom:0;
}


p, h1, h2 {
	margin: 0;
}
	h1{
		text-align: center;
	}


*{
    -webkit-transition:0.2s width;
       -moz-transition:0.2s width;
            transition:0.2s width;
}